<div class="content container-fluid">
	<div class="row">
	<div ng-include="'partials/loader.html'"></div>
		<div class="col-lg-12">
			<div class="title-content-details" ng-if="category">
				<a href="javascript:window.history.back()"><img src="assets/img/back.png" class="icon-back"></a>
				<h3 class="title-content-details">{{category.name}}</h3>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<div ng-if="directoryCategoryData.length > 0">
				<ul class="category-menu">
					<li class="content-category" ng-repeat="listX in directoryCategoryData">
						<a href="#/directory-details/{{listX.id}}">
							<div class="row">
								<div class="col-xs-3 col-sm-2 col-md-1 col-lg-1">
									<img src="{{listX.photo}}" class="img-circle">
								</div>
								<div class="col-xs-9 col-sm-10 col-md-11 col-lg-11">
									<div class="col-category">
										<div class="title-category-child">{{listX.name}}</div>
										<div class="p-category-child" ng-bind-html="listX.address"></div>
										<div class="p-category-child" ng-bind-html="listX.phone"></div>
									</div>
								</div>
							</div>
						</a>
					</li>
				</ul>
			</div>
			<div ng-if="directoryCategoryData.length == 0">
				No data found.
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<div class='pagination-btn'>
				<div class='col-xs-6'><a href='#/directory-list/{{categoryId}}/{{prevPage}}' class='btn btn-default btn-prev' ng-if='currentPage > 1'><img src="assets/img/back.png" class="icon-page-directory">Prev</a>
				</div>
				<div class='col-xs-6'><a href='#/directory-list/{{categoryId}}/{{nextPage}}' class='btn btn-default btn-next' ng-if='currentPage < maxPage'>Next<img src="assets/img/next.png" class="icon-page-directory"></a></div>
			</div>
		</div>
	</div>
</div>
