<div class="content container-fluid">
	<div class="row">
		<div ng-include="'partials/loader.html'"></div>
		<div class="category-details">
			<div class="title-content-details">
				<a href="javascript:window.history.back()"><img src="assets/img/back.png" class="icon-back"></a>
				<h3 class="title-content-details">{{directoryDetailsData.name}}</h3>
			</div>
			<img src="{{directoryDetailsData.photo}}" style="width: 100%; padding: 0px; margin: 0px;">
			<div style="padding-left:20px; padding-right:20px">
				<div class="alamat-details" ng-if="directoryDetailsData.address">
					<div class="title-details">
						Alamat
					</div>
					<div class="p-details" ng-bind-html="directoryDetailsData.address">

					</div>
				</div>
				<div class="phone-details" ng-if="directoryDetailsData.phone">
					<div class="title-details">
						Phone
					</div>
					<div class="p-details" ng-bind-html="directoryDetailsData.phone">
					</div>
				</div>
				<div class="office-hour-details" ng-if="directoryDetailsData.office_hour">
					<div class="title-details">
						Office Hour
					</div>
					<div class="p-details" ng-bind-html="directoryDetailsData.office_hour">
					</div>
				</div>
				<div class="note-details" ng-if="directoryDetailsData.note">
					<div class="title-details">
						Note
					</div>
					<div class="p-details" ng-bind-html="directoryDetailsData.note">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
