<div class="container content">
	<div ng-include="'partials/loader.html'"></div>
	<div class="content-events-details" ng-if="loading==false">
		<div class="row">
			<div class="img-events">
				<img src="{{eventData.img}}" alt="">
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<a href="javascript:window.history.back();"><img src="assets/img/back.png" class="icon-back"></a>
				<h3>{{eventData.title}}</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<p>
					<b>Nama Acara</b><br>
					{{eventData.title}}
				</p>
				<p>
					<b>Tempat Acara</b><br>
					{{eventData.place}}
				</p>
				<p>
					<b>Tanggal Acara</b><br>
					{{eventData.start_date | date:'d MMMM yyyy'}}
				</p>
				<p>
					<b>Contact Person</b><br>
					{{eventData.cp1}}
					{{eventData.cp2}}
				</p>
				<p>
					<b>Keterangan</b><br>
					<div ng-bind-html="eventData.content"></div>
				</p>
			</div>
		</div>
	</div>
</div>
