<!DOCTYPE html>
<html>
	<head>
		<title>Unpar Apps</title>
		<link rel="stylesheet" type="text/css" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="../bower_components/fontawesome/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="../assets/css/custom.css">
	</head>
	<body>
		<div class="offcanvas-layer">
		</div>
		<nav id="left-menu" class="navmenu navmenu-default navmenu-fixed-left offcanvas" role="navigation">
			<div class="navmenu-brand logo" href="#">
				<img src="../assets/img/icon1000.png" width="250px">
			</div>
			<ul class="nav navmenu-nav">
				<li class="focus"><a href="#/home"><span class ="fa fa-calendar icon-navmenu" style="margin-left:2px; color:#8BC34A;"></span>Home</a></li>
				<li class="focus"><a href="#/student-portal"><span class ="fa fa-calendar icon-navmenu" style="margin-left:2px; color:#8BC34A;"></span>Student Portal</a></li>
				<li class="focus"><a href="#/kalendar"><span class ="fa fa-calendar icon-navmenu" style="margin-left:2px; color:#8BC34A;"></span>Kalendar</a></li>
				<li class="focus"><a href="#/jadwal-toefl"><span class ="fa fa-calendar icon-navmenu" style="margin-left:2px; color:#8BC34A;"></span>Jadwal TOEFL</a></li>
				<li class="focus"><a href="#/kontak-biro"><span class ="fa fa-calendar icon-navmenu" style="margin-left:2px; color:#8BC34A;"></span>Kontak Biro</a></li>
				<li class="focus"><a href="#/directory"><span class ="fa fa-calendar icon-navmenu" style="margin-left:2px; color:#8BC34A;"></span>Direktori</a></li>
			</ul>
		</nav>

		<div class="wrapper-offcanvas">
			<div class="navbar navbar-default navbar-fixed-top">
				<button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target="#left-menu" data-canvas="body">
					<span class="fa fa-bars"></span>
				</button>
			</div>
			<div class="content container-fluid">
				<div class="row">
				<div class="title-calendar">Kalender Akademik</div>
					<ul class="calendar-menu">
						<li class="content-calendar">
							<div class="tanggal-calendar">
								<div class="tanggal">17</div>
								<div class="bulan">August</div>
								<div class="tahun">2015</div>
							</div>
							<div class="kegiatan-calendar">Upacara Peringatan HUT RI 70</div>
						</li>
						<div style="border-bottom: 1px solid #E0E0E0"></div>
						<li class="content-calendar">
							<div class="tanggal-calendar">
								<div class="tanggal_2">17-25</div>
								<div class="bulan">Aug</div>
								<div class="tahun">2015</div>
							</div>
							<div class="kegiatan-calendar">Upacara Peringatan HUT RI 70</div>
						</li>
						<div style="border-bottom: 1px solid #E0E0E0"></div>
						<li class="content-calendar">
							<div class="tanggal-calendar">
								<div class="tanggal_2">25-6</div>
								<div class="bulan">Aug - Sept</div>
								<div class="tahun">2015</div>
							</div>
							<div class="kegiatan-calendar">Upacara Peringatan HUT RI 70</div>
						</li>
						<div style="border-bottom: 1px solid #E0E0E0"></div>
					</ul>
				</div>
			</div>
		</div>
		<script src="../bower_components/jquery/dist/jquery.min.js"></script>
		<script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
		<script src="../assets/js/custom.js"></script>
	</body>
</html>
